:host {
  display: flex;
  flex-direction: column;
}

.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-group{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.action-buttons{
  display: flex;
  justify-content: right;
}