@if (question()) {
  <div class="content-container">
    <label>{{question()?.description}}</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="radio-group"
      [(ngModel)]="selectedAnswer">
      @for (option of question()?.options; track option) {
        <mat-radio-button [value]="option">{{option}}</mat-radio-button>
      }
    </mat-radio-group>
  </div>
  <div class="action-buttons">
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="!selectedAnswer">Next</button>
  </div>
}